<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwOZOezBDRcuBlRtPAE5EuCWzShP6AizI</string>
	<key>GCM_SENDER_ID</key>
	<string>1082748066909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zgames.screw.puzzle.nuts.bolts</string>
	<key>PROJECT_ID</key>
	<string>screw-master-2e10d</string>
	<key>STORAGE_BUCKET</key>
	<string>screw-master-2e10d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082748066909:ios:010da6d42426873cc9c1b4</string>
</dict>
</plist>